<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dodaj pracownika</title>
</head>
<body>
<a href="employees">Powrót do listy pracowników</a><br />
<form method="POST" modelAttribute="form">
    <label>Imie</label> <input type="text" name="firstName" />
    <label>Nazwisko</label> <input type="text" name="lastName" />
    <label>Wiek</label> <input type="text" name="age" />
    <input type="submit" value="Dodaj pracownika">
</form>
<br />
<hr />

</body>
</html>